# Access Relational DB
## meaning we have a notion of "ids" and classification in tables of those ids
- model: relational algebra
- standard SQL
- editor: PostgreSQL, MySQL/MariaDB, SQL Server ,Oracle DB

In [1]:
import psycopg2 as pg
import movies

In [2]:
host = "10.31.70.76"
port = 5432
dbname = "dbmovie"
user = "movie"
password = "password"

In [3]:
# post
url  = f"postgresql://{host}:{port}/{dbname}"

In [4]:
conn = pg.connect(url, user=user, password=password)

In [5]:
conn

In [6]:
query_all_movies = "select * from movies"

In [7]:
cur = conn.cursor() # on confie à un curseur le balayage de données requete par requete

In [8]:
cur.execute(query_all_movies)

In [9]:
# movies = list(cur)

In [10]:
# movies[:3]

In [11]:
# Les curseurs et les connections c'est comme les fichiers il faut donc les fermer!
cur.close()
conn.close()

In [12]:
query_movies_by_year_range_title_containing = """select
    title, year, duration
from movies
where
    year between %s and %s
    and title like %s
"""

In [14]:
year1 = 1930
year2 = 1960
year3 = 1970
year4 = 2020
title_input0 = "The Man Who Knew Too Much"
title_input1 = "Star Wars"
movie_created = movies.Movie("Expendibles 4", 2023, 145)

AttributeError: module 'movies' has no attribute 'Movie'

In [ ]:
def movies_fx(movie_title, yearA, yearB):
    title = f"%{movie_title}%"
    with pg.connect(url, user=user, password=password) as conn:
        with conn.cursor() as cur:
            cur.execute(query_movies_by_year_range_title_containing, (yearA, yearB, title))
            data = list(cur)
        return data

In [ ]:
print(movies_fx(title_input0, year1, year2))

In [ ]:
print(movies_fx(title_input1,year3, year4))

In [ ]:
def insert_movie(movie_obj):